 img {
    width: 155px;
    height: 150px;
    border: 10px solid black;
}

#instructions {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.instruct1 {
    margin-top: 20px;
    margin-left: 20px;
    color: red;
}

.instruct2 {
    color: whitesmoke;
}

.instruct4 {
    color: whitesmoke;
}

.instruct3 {
    margin-right: 20px;
    color: aqua;
}
.instruct5 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: goldenrod;
}

h1 {
    font-size: 75px;
    font-weight: 900;
    font-family: fantasy;
    text-align: center;
}

body {
    background-color: silver;
}

.card {
    background-color: black;
    margin-bottom: 20px;
    border: 5px solid whitesmoke;
}

.match {
    border: 2px solid black;
}

.counter {
    border: 2px solid black;
}
.row5 {
    margin-top: 30px;
    text-align: center;
}

h2 {
    padding: 18px;
    font-size: 50px;
}

.total {
    border: 5px solid red;
    font-size: 25px;
}
#totalScore {
    text-align: Center;
    font-weight: 900;
    color: red;
}

.row4 {
    text-align: center;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(167, 1, 1, 0.8), 0 25px 50px 0 rgba(0,0,0,0.19);
}

#totalScore {
    font-size: 33px;
}

#wins {
    text-decoration: underline;
}

#losses {
    text-decoration: underline;
}